<router-outlet></router-outlet>
<div class="container content">
  <div class="row">
    <h1>
      {{ title }}
    </h1>
  </div>
  <!--Invocando al componente creado anteriormente, el de destino-->
  <div>
    <app-destino-viaje></app-destino-viaje>
  </div>
  <div>
    <app-lista-destinos></app-lista-destinos>
  </div>